@model IEnumerable<Cafeteria.Models.Product>

    <div>

        @foreach (var item in Model)
        {
        <div class="row">
            <div class="card " style="max-width:30rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.NombreP)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    <a class="btn btn-primary" href="@Url.Action("Create","Ordens")">Ordenar</a>
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdProduct }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        }
    </div>


